
#header {
    background-color:#f7e7ce;
    padding: 20px;
    margin-top: -10px;
    border-top-style: solid;
    margin-left: -10px;
    margin-right: -10px;    
    border-bottom: 2px solid black;
    
    }
    #title { 
        text-align: center;
    }
    #header2 {
        float:right;
        width:80%;
        text-align:right;
}
    #header2 a{
        display:inline-block;
        padding:30px 10px;
        margin:0 10px;
        text-decoration:none;
        position: relative; bottom: 70px;
    }
    #Logo {
        height: auto;
        width: 200px;
        float: left;
        position: relative; bottom: 70px;
        padding: 20px;
    }


    .header {
        margin-left: 440px;
        margin-bottom:10px; 
        color: #AEA885;  
}  