
#Introduction_to_features {
  margin-top: 25px;
  margin-right: 45px;
  margin-left: 45px;
  text-align: justify;
  font-size: larger;
}
#features {
  display: inline;
}
.Ind_features_1 {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  display: inline-block;
  width: 30%;
}
#Real-Time_GPS,
#Building_Information,
#Customizable_Paths,
#Social_Features,
#Offline_Acces,
#Virtual_Tours {
  font-size: medium;
  width: 300px;
}